[Desktop Entry]
Version=1.0
Type=Application
Name=ALI Notepad
Comment=ALI Linux text editor
Exec=ali-notepad %F
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
