[Desktop Entry]
Version=1.0
Type=Application
Name=ALI Center
Comment=ALI Linux system center
Exec=ali-center
Icon=ali-center
Terminal=false
Categories=X-XFCE-Settings;System;Settings;
Keywords=ALI;System;Settings;
