[Desktop Entry]
Version=1.0
Type=Application
Name=ALI Center (Türkçe)
Comment=ALI Linux sistem merkezi (Türkçe)
Exec=env ALI_LANG=tr ali-center
Icon=ali-center
Terminal=false
Categories=X-XFCE-Settings;System;Settings;
Keywords=ALI;Sistem;Ayarlar;
