[Desktop Entry]
Version=1.0
Type=Application
Name=ALI Hymns
Comment=TempleOS-tribute chiptune player
Exec=ali-hymns
Icon=ali-hymns
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=ALI;Hymns;Music;Chiptune;
