[Desktop Entry]
Version=1.0
Type=Application
Name=ALI Welcome
Comment=Open ALI Center on first login
Exec=ali-center
Icon=preferences-system
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
