[Unit]
Description=ALI Sentinel - IDS watch + IPS exterminate
OnFailure=ali-fail@%n.service
Documentation=https://github.com/
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/sentinel
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
